<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" >
    <test name="Test 1">
        <classes>
            <class name="com.ea.seleniumdemo.MainPageTest" />
        </classes>
    </test>
    <test name="Tests 2">
        <classes>
            <class name="com.ea.seleniumdemo.MainPageTest2" />
        </classes>
    </test>
</suite>